<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.login.css') }}">
</head>
<body>
    <div class="background-image"></div>
    <div class="login-container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='ulagos.jpg') }}" alt="Logo Universidad de Los Lagos">
        </div>
        <h1>Recuperar Contraseña</h1>
        <form action="/recover-password" method="post">
            <!-- Campo para correo electrónico -->
            <div class="input-container">
                <label for="email">Correo Electrónico</label>
                <input type="email" id="email" name="email" required>
            </div>
            <!-- Botón para recuperar contraseña -->
            <button type="submit" class="login-button">Recuperar Contraseña</button>
        </form>
    </div>
    <script src="scripts.js"></script>
</body>
</html>
